{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %} Gally Configuration | Sylius{% endblock %}

{% block content %}
    <div class="ui segment">
        {{ sylius_template_event('sylius.admin.gally.form', _context) }}
    </div>
{% endblock %}
