name: QA

on:
  push:
    branches:
      - master
      - '[1-9].[0-9]+.x'
      - 'feature-[a-z]+'
  pull_request: ~

jobs:
  qa:
    name: Code-Quality-Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: php-actions/composer@v6
        with:
          php_version: "8.1"
          php_extensions: ctype curl dom hash iconv intl gd json mbstring openssl session simplexml xml zip zlib pdo_mysql exif
          args: --no-plugins
      - name: Php cs fixer
        run: php ./vendor/bin/php-cs-fixer fix --diff --dry-run src
      - name: Phpstan
        run: php ./vendor/bin/phpstan --memory-limit=1G analyse
